@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

html, body {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'League Gothic', sans-serif;
}

.boxes {
  height: 100vh;
  width: 100%;
  background-size: cover ;
  background-position: center;
  display: table;
  background-attachment: fixed;
}

#box1 {
  background-image: url("box1bg.jpg");
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box1::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top,black,transparent);

}

#box2 {
  position: relative;
  padding: 20% 100px;
  background-color: black;
  color: white;
  font-size: 150%;
}

#box3 {
  position: relative;
  padding: 20% 100px;
  background-image: url("box3bg.jpg");
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box3::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  background: linear-gradient(to bottom, black, transparent);
}

#cloud1 {
  margin-top: -1100px;
  position: absolute;
  z-index: 2;
  transform: translateZ(-3);
  width: 400px;
  opacity: 0.6;
  animation: slideRight 10s infinite;
  filter: drop-shadow(5px 5px 5px #222222);
}

#cloud2 {
  margin-top: -1500px;
  position: absolute;
  z-index: 2;
  transform: translateZ(-3);
  right: 10px;
  width: 400px;
  opacity: 0.6;
  animation: slideLeft 10s infinite;
  filter: drop-shadow(5px 5px 5px #222222);
}


@keyframes slideRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(40%);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-40%);
  }
}
